:root{
/*## Colors

### Primary*/

--strong-cyan: hsl(171, 66%, 44%);
--light-blue: hsl(233, 100%, 69%);

/*### Neutral*/

--dark-grayish-blue: hsl(210, 10%, 33%);
--grayish-blue: hsl(201, 11%, 66%);
}


/*Обнуление*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
} 
body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-grayish-blue);
}
.align-start {
	align-items: flex-start;
}

.container{
    width: 1100px; /*ширина блока*/
    max-width: 100%; /*максимальный размер 1440пх*/
    margin: 20px auto;
}
.logo{
    text-align: center;
    margin: 130px auto 70px ;
}
.download__content{
    max-width: 700px;
    width:100%;
    margin: 0 auto;

}
.devices{
    text-align: center;
}
.devices_text{
    margin-bottom: 80px;
}

.devices h3{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.devices p{
    font-size: 18px;
    font-weight: 400;
    
}


.dowload__title{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 35px;
}
.download__text{
    font-size: 20px;
    line-height: 1.5;/*Для управления межстрочным расстоянием (оно еще называется интерлиньяжем) применяется стилевое свойство line-height. В качестве значения обычно указывается число, которое определяет межстрочный интервал. Например, line-height: 2 устанавливает двойной интервал, а line-height: 1.5 — полуторный*/
    text-align: center;
    padding-bottom: 55px;
    
}
.download__form{
    display: flex;
	align-items: center;
    justify-content: space-between;
    max-width: 470px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.btn{
    flex:0.5;
    background-color: var(--light-blue);
    border-radius: 28px; 
    padding: 14px 0;
    border: none;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--strong-cyan);

}
.items__items{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 160px;
    text-align: center;
}
.items_item{
    flex: 33.33333%;
    margin: 0 15px;
}
.items_item h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    
}
.items_item p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    opacity: 0.7;
    
}

.items_item div img{
    margin-bottom: 35px;
}

.vendor_flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 135px;
   

}